.window{
    height: 100vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    padding:20px 50px 20px 50px;
     font-size: 25px; 
     font-weight: 500;
    background-color: rgba(63, 11, 234, 0.716);
    color: aliceblue;

}